body {
  background-color: #040002;
    caption-side: #E8B96A;
}

img {
    background-color: inherit;
}

.jumbotron {
  background-color: #E8B96A;
  color: #5C0F00;

}

.well {
  background-color: #BC5D15;
}